*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0070cb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* profile image style start here  */

.profile-container{
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 5%;
    border: 7px solid #ffffff;
}

.image{
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.overlayer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    background-image: linear-gradient(to top,#008CBA,#008CBA00);
}

.profile-container:hover .overlayer{
    height: 100%;
}

.profile-container:hover .image{
    transform: scale(1.2,1.2);
}

.text{
    font-family: "Brush Script MT";
    font-size: 30px;
    white-space: nowrap;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* profile image style end here  */


/* star style start here */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="star"] {
    z-index: -1;
    position: absolute;
    margin: 1em auto;
    width: 1em;
    font-size: 1em;
    transition: .5s;
  }
  
  [class*="star"]::before {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    width: 1em;
    height: 1.15em;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  [class*="star"]::after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    width: 1em;
    height: 1.15em;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

  .container:hover .star1 {
    transform: translate(60px,-180px);
  }
  .container:hover .star2 {
    transform: translate(-60px,-180px);
  }
  .container:hover .star3 {
    transform: translate(0px,-210px);
  }


/* star style start here */

